
.detail{
    margin-top: 2rem;
}

.p-Detail{
    padding:1rem;
}

.caract{
    background-color: rgba(206, 206, 206, 0.551);
    border-radius: 15px;
    padding:2rem 3rem;
    margin-bottom:2rem ;
}

.imgDetail{
    margin: 0 auto;
    display: block;
}


@media only screen and (min-width:768px){

    .p-Detail{
        display: flex;
        justify-content: space-between;
        align-items:top;
        gap:1rem;
    }

    .imgDetail, .infDetail{
        flex-basis: calc(50%);
    }
}


.titleDetail{
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
}


.infoInicial{
    padding: 1rem;
    border-radius: 1rem;
}

.infoInicial p{
    padding: .2rem;
    text-transform: capitalize;
}

.money{
    color:rgb(107, 157, 33);
    font-weight: 600;
}

.cant-field{
    gap:.5rem;
}

.cant-field input{
    max-width: 40%;
    background-color: transparent;
    border-radius:5rem;
    text-align: center ;
    border: .1rem solid rgb(211, 211, 211);
}

.addCar{
    padding: .5rem 1rem;
}

span{
    font-weight: 600;
}

.caractList{
    padding-bottom: .5rem;
}

.caractList li{
    padding-left: 1rem;
    list-style: none;
}