.noReviewContainer
{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  width: 100%;  
  min-height: 200px;
}
.noReviewContainer span
{
  align-self: center;
  font-size: 4rem;
  color: #989898;
}

@media screen and (max-width: 1200px) 
{
  .noReviewContainer span
  {
    font-size: 2rem;
  }
}
@media screen and (max-width: 600px) 
{
  .noReviewContainer span
  {
    font-size: 1.5rem;
  }

}