.checkoutContainer {
  /* border: 3px solid red; */
  width: 100%;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullCont{
  /* border: 3px solid green; */
  width: 70%;
  align-items: center;
  position: relative;
  left: 17%;
}

h3{
  font-size: 25px;
  margin-top: 70px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.checkoutContainer .cart{
  /* border: 3px solid yellow; */
  font-size: 25px;
  position:relative;
  float: right;
  font-size: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
  left:38%;
  margin-top: 1rem;
}
.total{
  font-weight: bold;
  font-size: 28px;
  margin-top: 1rem;;
}

.cartLength{
  font-weight: bolder;
  font-size: 25px;
  margin-top: 5rem;
  position: relative;
  left: 15%;
}

.button {
  background-color: #51a7c9;
  color: #fff;
  width: 100%;
  font-size: 23px;
  align-items: end;
  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 3rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.button:active {
  background-color: #4c81ac;
}


/* Dispositivos pequeños */
@media only screen and (max-width: 600px) {
  .cartLength {
    font-size: 1.5rem;
  }
  .checkoutContainer {
    padding: 1rem;
  }
  .ship, .total {
    font-size: 1.2rem;
  }
  .checkoutContainer{
    flex-direction: column;
    align-items: center;

  }
  .cart{
    width: 100%;
    margin-right: 15rem;
  }
  .button{
    font-size: 17px;
    width: 80%;
    align-items: center;
    right: 10%;
  }
  .ship, .total {
    font-size: 1.2rem;
  }
}

/* Dispositivos medianos */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .cartLength {
    font-size: 1.5rem;
  }
  .checkoutContainer {
    padding: 2rem;
    flex-direction: column;
    align-items: center;
  }
  .cart{
    width: 100%;
    margin-right: 15rem;
  }
  .button{
    font-size: 17px;
    width: 80%;
    align-items: center;
    right: 10%;
  }
  .ship, .total {
    font-size: 1.5rem;
  }

}

