.PaymentFormContainer
{
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.FormContainer 
{
  height: 180px;
  min-width: 350px;
  border-radius: 12px;
  border: 1px solid #242424;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 1rem;
}
.PaymentFormContainer button
{
  height: 50px;
  width: 200px;
  min-width: 130px;

}