.reviewContainer
{
  border-radius: 1rem;
  width: 100%;
  min-height: 80px;
  padding: 0 .5rem;
  display: flex;
  flex-flow: column nowrap;
  gap: .5rem;
}
.reviewHead
{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; 
}
.reviewUser
{
  color:#1ac8db;
}
.reviewFooter span
{
  margin-left: auto;
}
.review
{
  font-size: 1rem;
  color: rgba(36, 36, 36,.8);
}
@media screen and (max-width: 900px) 
{
  .reviewHead :last-child
  {
    display: none;
  }
}