.categories
  {    
  color: #989898;
  font-size: 12px;
  text-transform: capitalize; 
  /* margin-bottom: -15%; */
  }

.select {
  position: relative;
  width: 90%;
  height: 100%;
  font-size: 14px;
}

.select::after {
  content: "▼";
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}


.buton {
   background-color: transparent;
    color: rgb(88, 88, 88);
    border: none;
    font-size: 14px;
    cursor: pointer;
    display: absolute;
    top: 1;
    right: 0;
    padding:0.2%;
    /* justify-content: center;
    align-items: center; */
}
.butonImagen {
    background-color: transparent;
    color: black;
    border: none;
    font-size: 14px;
    cursor: pointer;
    position:absolute;
    top: 1;
    right:0;
    padding: 1.5%;   
}


.center{
    align-items: center
  }
  
  
  
  .contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
  }
  
  .title{
    font-weight: 600;
    font-size: 1.6rem;
    max-width: 95%;
  }

  @media (max-width: 600px) {
    .title {
      font-size: 1.2rem;
    }
  }
  @media (max-width: 600px) {
    .contenedor {
      width: 60%;
      margin: 0;
      
    }
  }  

  @media (max-width: 600px) {
    .categories {
      display: block;
    }
  }
  @media (max-width: 600px) {
    .responsiveBox {
      width: 100%;
    }
  }
  
  @media (max-width: 600px) {
    .buton,
    .butonImagen {
      width: 12px;
      height: 12px;
      font-size: 8px;
    }
  }
