.card{
  width: 300px;
  transition-delay: 4s ease-in-out;
}


.titleCard{
  text-align: center;
  padding:1rem 0;
}

.infCard{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  padding:1rem .2rem;
  gap:1rem;
  height: 15rem;
}