.fullCont{
  position: relative;
  bottom: 0; 
  width: 100%;
  /* height: "auto"; */
  /* left: 0; */
  text-align: center;
  background-color: white;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.tipografia {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  font-size: small;
  color: darkgrey;
  width: calc(30% - 20px);
}

.titulo {
  color: solid black;
  font-size: 20px;
  font-weight: bolder;
  width: calc(30% - 20px);
}

.varios {
  width: 60%;
  float: right;
}

.footerCont {
  width: 100%;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footerCont {
    flex-direction: column;
    align-items: center;
  }

  .varios {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .varios a {
    margin: 0.5rem;
  }

  .tipografia {
    width: 100%;
    /* margin-top: 1rem; */
  }
}