.footerContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	border: 1px solid red;
	height: 80px;
	max-height: 80px;
}
.logoFooterContainer {
	border: 1px solid;
	width: 33%;
	height: 100%;
}
.madeFooterContainer {
	border: 1px solid violet;
	width: 33%;
	height: 100%;
}
.networkContainer {
	border: 1px solid green;
	width: 33%;
	height: 100%;
}
