.tipografia{
    /* border: 2px solid yellow; */
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    font-size: small;
    color: darkgrey;
    width: calc(30% - 20px);;
}


.titulo{
    color: solid black;
    font-size: 20px;
    font-weight: bolder;
    /* border: 2px solid blue; */
    width: calc(30% - 20px);
}

.varios{
    /* border: 2px solid green;  */
    width: 60%;
    float: right;
    /* margin-top: -2rem; */
}

.footerCont{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
}