.carouselContainer {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-evenly;
	gap: 1.5rem;
}
.ImageSliderContainer {
	width: 30%;
}
.attributes {
	min-height: 500px;
	display: flex;
	flex-flow: column nowrap;
	gap: 2rem;
}
.reviewsContainer {
	margin-top: 2rem;
	min-height: 200px;
	border-radius: 1rem;
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
	user-select: none;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.detailsData .price {
	font-size: 2rem;
	font-weight: 400;
}
.detailsData .stock {
	background-color: #1ac8db;
	color: white;
	padding: 0 1rem;
	border-radius: 1rem;
	text-transform: uppercase;
}

.detailsData .categories {
	color: #989898;
	display: flex;
	gap: 1rem;
	margin: 1rem 0;
	font-size: 14px;
	text-transform: capitalize;
}

.priceSale {
	display: flex;
	flex-direction: row;
}

/* sm 600px, md 900px, lg 1200px, xl 1536 */
@media screen and (max-width: 1200px) {
	.ImageSliderContainer {
		width: 40%;
	}
	.attributes h2 {
		font-size: 30px;
	}
}

@media screen and (max-width: 900px) {
	.carouselContainer {
		flex-flow: column nowrap;
	}
	.ImageSliderContainer {
		width: 100%;
	}
}
